<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostBOX</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:ital,wght@1,800&display=swap" rel="stylesheet">
    <script src="scripts/home.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/postboxLogo.png" alt="logo" /></a>
            <h1>PostBOX</h1>
        </div>
        <div class="navbar">
            <a class="active" href="#">Home</a>
            <a href="/send">Send package</a>
            <a href="/list">Package list</a>
            <a href="/registration">Sign up</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div class="content">
    <section class = "top">
        <div class = "flex-wrapper">
            <div class = "left-description">
                <h3>Welcome to PostBOX!</h3>
                <p>PostBOX is your one stop platform for sending and receiving packages from all around the world!</p>
            </div>
            <img src="images/truck.svg" alt="truck"/>

        </div>
        <div class = "flex-wrapper">
            <img src="images/handshake.svg" alt="handshake"/>
            <div class = "middle-description">
                <h3>Why PostBOX?</h3>
                <p>With our unique combination of highest quality software and customer service,
                    we make all your mailing needs as simple as a press of a button!</p>
            </div>
        </div>
        <div class="flex-wrapper">
            <div class = "right-description">
                <h3>Varied offer</h3>
                <p>We cater to all your needs, be they commercial or individual - you can't go wrong with PostBOX!</p>
            </div>
            <img src="images/card.svg" alt="card"/>
        </div>
    </section>
    <section>
        <div class = "standard-offer">
            <h2>Standard offer:</h2>
            <table class="standard-offer-table">
                <tr>
                    <th>Price</th>
                    <th>Weight</th>
                    <th>Delivery</th>
                </tr>
                <tr>
                    <td>10zł</td>
                    <td>1-5kg</td>
                    <td>Next day</td>
                </tr>
                <tr>
                    <td>15zł</td>
                    <td>5-10kg</td>
                    <td>Next day</td>
                </tr>
                <tr>
                    <td>20zł</td>
                    <td>5-10kg</td>
                    <td>2-3 work days</td>
                </tr>
                <tr>
                    <td>50zł</td>
                    <td>>10kg</td>
                    <td>3-4 work days</td>
                </tr>
            </table>
        </div>
        <div class="commercial-offer">
            <h2>Commercial offer:</h2>
            <table class="commercial-offer-table">
                <tr>
                    <th>Monthly payment</th>
                    <th>Packages per month</th>
                    <th>International shipping</th>
                </tr>
                <tr>
                    <td>200zł</td>
                    <td>30</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>300zł</td>
                    <td>30</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>500zł</td>
                    <td>80</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>700zł</td>
                    <td>80</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>1200zł</td>
                    <td>Unlimited</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>1500zł</td>
                    <td>Unlimited</td>
                    <td>Yes</td>
                </tr>
            </table>
        </div>
    </section>
    </div>
    <footer>
        <p class="footer"> &copy; 2020 Michał Malinowski</p>
    </footer>
</body>
</html>